@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --blue-Kampus-XYZ: rgba(6, 96, 166, 1);
  --brand-accent: 6 157 216; /* H, S, L placeholder to be used with hsl/hex mapping via var usage*/
  --brand-hex: #069dd8; /* text-[#069dd8] */
  --blur-2px: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
  --blur-4px: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  --blur-7px: 0px 2px 7px 0px rgba(0, 0, 0, 0.15);
  --blur-9px: 0px 2px 7px 0px rgba(0, 0, 0, 0.2);
  --body-text-12px-medium-font-family: "Montserrat", Helvetica;
  --body-text-12px-medium-font-size: 12px;
  --body-text-12px-medium-font-style: normal;
  --body-text-12px-medium-font-weight: 500;
  --body-text-12px-medium-letter-spacing: 0px;
  --body-text-12px-medium-line-height: 16px;
  --body-text-12px-regular-font-family: "Inter", Helvetica;
  --body-text-12px-regular-font-size: 12px;
  --body-text-12px-regular-font-style: normal;
  --body-text-12px-regular-font-weight: 400;
  --body-text-12px-regular-letter-spacing: 0px;
  --body-text-12px-regular-line-height: normal;
  --body-text-14px-medium-font-family: "Inter", Helvetica;
  --body-text-14px-medium-font-size: 14px;
  --body-text-14px-medium-font-style: normal;
  --body-text-14px-medium-font-weight: 500;
  --body-text-14px-medium-letter-spacing: 0px;
  --body-text-14px-medium-line-height: normal;
  --body-text-14px-regular-font-family: "Inter", Helvetica;
  --body-text-14px-regular-font-size: 14px;
  --body-text-14px-regular-font-style: normal;
  --body-text-14px-regular-font-weight: 400;
  --body-text-14px-regular-letter-spacing: 0px;
  --body-text-14px-regular-line-height: normal;
  --body-text-16px-medium-font-family: "Inter", Helvetica;
  --body-text-16px-medium-font-size: 16px;
  --body-text-16px-medium-font-style: normal;
  --body-text-16px-medium-font-weight: 500;
  --body-text-16px-medium-letter-spacing: 0px;
  --body-text-16px-medium-line-height: 22px;
  --body-text-16px-regular-font-family: "Inter", Helvetica;
  --body-text-16px-regular-font-size: 16px;
  --body-text-16px-regular-font-style: normal;
  --body-text-16px-regular-font-weight: 400;
  --body-text-16px-regular-letter-spacing: 0px;
  --body-text-16px-regular-line-height: 26px;
  --body-text-18px-regular-font-family: "Inter", Helvetica;
  --body-text-18px-regular-font-size: 18px;
  --body-text-18px-regular-font-style: normal;
  --body-text-18px-regular-font-weight: 400;
  --body-text-18px-regular-letter-spacing: 0px;
  --body-text-18px-regular-line-height: 26px;
  --h10-bold-font-family: "Inter", Helvetica;
  --h10-bold-font-size: 18px;
  --h10-bold-font-style: normal;
  --h10-bold-font-weight: 700;
  --h10-bold-letter-spacing: 0px;
  --h10-bold-line-height: 26px;
  --h10-semibold-font-family: "Inter", Helvetica;
  --h10-semibold-font-size: 18px;
  --h10-semibold-font-style: normal;
  --h10-semibold-font-weight: 600;
  --h10-semibold-letter-spacing: 0px;
  --h10-semibold-line-height: 26px;
  --h11-bold-font-family: "Inter", Helvetica;
  --h11-bold-font-size: 16px;
  --h11-bold-font-style: normal;
  --h11-bold-font-weight: 700;
  --h11-bold-letter-spacing: 0px;
  --h11-bold-line-height: 24px;
  --h11-semibold-font-family: "Inter", Helvetica;
  --h11-semibold-font-size: 16px;
  --h11-semibold-font-style: normal;
  --h11-semibold-font-weight: 600;
  --h11-semibold-letter-spacing: 0px;
  --h11-semibold-line-height: 24px;
  --h4-bold-font-family: "Inter", Helvetica;
  --h4-bold-font-size: 40px;
  --h4-bold-font-style: normal;
  --h4-bold-font-weight: 700;
  --h4-bold-letter-spacing: 0px;
  --h4-bold-line-height: 50px;
  --h5-bold-font-family: "Inter", Helvetica;
  --h5-bold-font-size: 36px;
  --h5-bold-font-style: normal;
  --h5-bold-font-weight: 700;
  --h5-bold-letter-spacing: 0px;
  --h5-bold-line-height: normal;
  --h6-bold-font-family: "Inter", Helvetica;
  --h6-bold-font-size: 32px;
  --h6-bold-font-style: normal;
  --h6-bold-font-weight: 700;
  --h6-bold-letter-spacing: 0px;
  --h6-bold-line-height: 40px;
  --h8-bold-font-family: "Inter", Helvetica;
  --h8-bold-font-size: 24px;
  --h8-bold-font-style: normal;
  --h8-bold-font-weight: 700;
  --h8-bold-letter-spacing: 0px;
  --h8-bold-line-height: 32px;
  --h9-bold-font-family: "Inter", Helvetica;
  --h9-bold-font-size: 22px;
  --h9-bold-font-style: normal;
  --h9-bold-font-weight: 700;
  --h9-bold-letter-spacing: 0px;
  --h9-bold-line-height: 30px;
  --shadow-blur-2px: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  --text-colour80: rgba(61, 61, 61, 1);
}

:root {
  --animate-spin: spin 1s linear infinite;
}

.animate-fade-in {
  animation: fade-in 1s var(--animation-delay, 0s) ease forwards;
}

.animate-fade-up {
  animation: fade-up 1s var(--animation-delay, 0s) ease forwards;
}

.animate-marquee {
  animation: marquee var(--duration) infinite linear;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

.animate-shimmer {
  animation: shimmer 8s infinite;
}

.animate-spin {
  animation: var(--animate-spin);
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes image-glow {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
  }

  10% {
    opacity: 0.7;
    animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
  }

  to {
    opacity: 0.4;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes shimmer {
  0%,
  90%,
  to {
    background-position: calc(-100% - var(--shimmer-width)) 0;
  }

  30%,
  60% {
    background-position: calc(100% + var(--shimmer-width)) 0;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: transparent;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
